<!DOCTYPE html>
<html lang="en">

  <head>
<title>single product</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>   
  </head>

  <body>

    <!-- Navigation -->

       <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
         <div class="container">
           <a class="navbar-brand" href="#">Experience The New Way Of Shopping</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarResponsive">
             <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                 <a class="btn btn-default row-group-item" href="http://localhost:3000/dashboard">Home
                   <span class="sr-only">(current)</span>
                 </a>
               </li>
               <li class="nav-item">
                 <a class="btn btn-default row-group-item" href="http://localhost:3000/profile">Profile</a>
               </li>
               <li class="nav-item">
                 <a class="btn btn-default row-group-item" href="http://localhost:3000/cart">Cart
                   <% if(cart){ %>
                      <%= cart.totalQuantity %>
                  <% } else{ %>
                      0
                    <% } %>
                </a>
               </li>
               <li class="nav-item">
                 <a class="btn btn-default row-group-item" href="http://localhost:3000/logout">Logout</a>
               </li>
             </ul>
           </div>
         </div>
       </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

        
          <h2 class="my-4">Shoppers-Point</h2>
          <div class="list-group">

			<a href="http://localhost:3000/dashboard" class="list-group-item ">VIEW PRODUCT</a>

			<a href="http://localhost:3000/addProduct" class="list-group-item ">ADD PRODUCT</a>

          </div>

        </div>

        <!-- /.col-lg-3 -->
        <div class="col-lg-9 ">
            <div class="form-horizontal">
              <h1 class="my-4"><b> <%= product.pName %></b> </h1>
            </div>

                <div class="form-group">

                    <label class="control-label col-sm-3">Product Name </label>
                    <label>:</label>

                    <label class="control-label col-sm-3"><%= product.pName %></label>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Category </label>
                    <label>:</label>
                        <label class="control-label col-sm-3"><%= product.pCategory %></label>


                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Ideal For </label>
                      <label>:</label>
                        <label class="control-label col-sm-3"><%= product.pIdeal%></label>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3">Price For Sale</label>
                    <label>:</label>
                    <label class="control-label col-sm-3"><%= product.pPrice %></label>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Original Price </label>
                    <label>:</label>
                    <label class="control-label col-sm-3"><%= product.pOPrice %></label>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Offer Discount </label>
                    <label>:</label>
                   <label class="control-label col-sm-3"><%= product.pDiscount %></label>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Description </label>
                    <label>:</label>
                   <label class="control-label col-sm-3"><%= product.pDescription %></label>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Quantity </label>
                    <label>:</label>
                   <label class="control-label col-sm-3"><%= product.pQuantity %></label>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Brand Name</label>
                    <label>:</label>
                   <label class="control-label col-sm-3"><%= product.pBrand %></label>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Size</label>
                    <label>:</label>
                    <label class="control-label col-sm-3"><%= product.pSize %></label>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                      <a href="http://localhost:3000/product/<%= product._id %>/Edit" class=" btn  btn-default row-group-item">Edit</a>
                      <a href="http://localhost:3000/product/<%= product._id %>/delete" class="btn btn-default row-group-item">Delete</a>


                    </div>
                </div>

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->

  </body>

</html>
